<div id="setup-container">
	<mat-expansion-panel>
		<mat-expansion-panel-header>
		<mat-panel-title>
			Setup
		</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="setup-content">
			<div id="range-container">
				<span>Number of die: {{ cur_num_die }}</span>
				<mat-slider
					[min]="min_die_bound"
					[max]="max_die_bound"
					[thumbLabel]="true"
					[tickInterval]="1"
					[step]="1"
					[value]="cur_num_die"
					(input)="updateDie($event)"
					></mat-slider>

				<span>Number of batches: {{ cur_num_batches }}</span>
				<mat-slider
					[min]="min_batches_bound"
					[max]="max_batches_bound"
					[thumbLabel]="true"
					[tickInterval]="1"
					[step]="1"
					[value]="cur_num_batches"
					(input)="updateBatches($event)"
					></mat-slider>
			</div>

			<div class="die-container">
				<app-die *ngFor="let i of [].constructor(cur_num_die)">
				</app-die>
			</div>
		</div>
	</mat-expansion-panel>

	<div class="game-state">
		<app-distribution></app-distribution>
	</div>
</div>
