.outer {
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	height: 100%;
	justify-items: center;
	gap: 2em;
	align-items: end;
}

.graph {
	display: flex;
	width: 100%;
	overflow: auto;
	padding: 1.5em;
	height: 400px;
}

.graph app-bar:first-child {
	margin-left: auto;
}
.graph app-bar:last-child {
	margin-right: auto;
}

.roller {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

.roll-history {

}

/* :host { */
/* 	height: 100%; */
/* 	display: flex; */
/* 	align-items: end; */
/* 	justify-content: center; */
/* } */
