<div class="outer">
	<div class="graph">
		<app-bar *ngFor="let kv of pairMap | keyvalue" [value]="kv.key" [pair]="kv.value" [height]="kv.value.original" [maxHeight]="maxElement()"></app-bar>
	</div>

	<div class="roller">
		<button
			mat-fab
			color="accent"
			(click)="sample()">
			<mat-icon>casino</mat-icon>
		</button>
		<button *ngIf="lastSampledNumber"
			mat-fab
			color="accent">{{ lastSampledNumber }}</button>
	</div>

	<div class="roll-history">
		<ul>
			<li *ngFor="let h of []">
				{{ h }}
			</li>
		</ul>
	</div>
</div>
