<div class="outer">
	<div class="graph">
		<app-bar *ngFor="let kv of pairMap | keyvalue" [value]="kv.key" [pair]="kv.value" [height]="kv.value.original" [maxHeight]="maxElement()"></app-bar>
	</div>

	<div class="roller">
		<button
			mat-fab
			color="accent"
			(click)="sample()">
			<mat-icon>casino</mat-icon>
		</button>
		<button *ngIf="!sampled"
			mat-fab
			color="accent"></button>
		<button *ngIf="sampled"
			mat-fab
			color="accent">{{ sampled[0] }}</button>
	</div>

	<div class="roll-history">
		<app-roll-history [history]="sampled"></app-roll-history>
	</div>
</div>
